

h1 { 
    font-size: 20px;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    color: var(--blue_dark);
    font-weight: 800;
}
.register {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    text-decoration: none;
    text-transform: uppercase;
}
.register a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--blue_dark);
}

form.login-form {
  background-color: #fff;
  border-radius: 5px;
  margin: 50px auto 0 auto;
  padding: 25px 15px;
  text-align: center;
  width: 100%;
}

input, button {
  border-radius: 3px;
}

input {
  border: 1px solid #dbd9d9;
  display: block;
  font-size: 12px;
  margin-bottom: 15px;
  outline: 0;
  padding: 9px 12px;
  width: 100%;
}
input:focus {
  border: 1px solid #dbd9d9;
  outline: 0;
}

button {
  background-color: var(--seccondary_dark);
  color: var(--font_white);
  border: 0;
  font-size: 14px;
  font-weight: bold;
  height: 50px;
  margin-top: 10px;
  outline: 0;
  text-transform: uppercase;
  width: 100%;
}
button:hover {
  background-color: var(--seccondary_dark);
  cursor: pointer;
  filter: brightness(120%);
}
button:active { 
  background-color: var(--seccondary_dark);
}
button[disabled] {
  background-color: var(--seccondary_dark);
  filter: brightness(85%);
  color: var(--font_white);
  cursor: auto;
}

@media (min-width:768px) {
  body { background-color: #dadbdd; }
  form.login-form {
    margin-top: 150px;
    width: 375px;
  }
}

.required_field {
  position: relative;
}
.required_field::before {
  content: "*";
  color: red;
  right: 5px;
  top: 2px;
  position: absolute;
  z-index: 1;
}