.menu {
  z-index: 10;
  background-color: var(--bg_color_1);
  display: grid;
  grid-template-columns: 1fr 50px;
  height: 50px;
  border-bottom: 1px solid rgba(black, 0.9);

  padding-left: 290px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.menu.collapsed,
.menu.onmobile {
  padding-left: 65px;
}

.menu_items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.menu_items a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #dce8f6;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  padding: 5px;
}

a.router-link-exact-active {
  color: var(--secondary_color_light);
}

.menu_logo {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url(../assets/logo.png);
}