
.v-sidebar-menu {
    background-color: var(--blue_dark);
    left: 0;
    right: unset;
    box-shadow: 0 0 5px rgba(0,0,0,.7);
    z-index: 11;
}
.v-sidebar-menu.vsm_expanded {
}
.v-sidebar-menu.vsm_expanded .vsm--link_level-1.vsm--link_open .vsm--icon{
    background-color: white;
}
.v-sidebar-menu.vsm_collapsed {}
.v-sidebar-menu.vsm_rtl {}
.v-sidebar-menu .vsm--item {}
.v-sidebar-menu .vsm--link {}
.v-sidebar-menu .vsm--link_active {
    -webkit-box-shadow: inset 3px 0 0 0 var(--green_light) !important;
    box-shadow: inset 3px 0 0 0 var(--green_light) !important;
    color: var(--green_light) !important;
}
.v-sidebar-menu .vsm--link_active svg{
    color: var(--green_light);
}
.vsm--link .vsm--link_level-3 .vsm--link_active {
    -webkit-box-shadow: inset 3px 0 0 0 var(--green_light) !important;
    box-shadow: inset 3px 0 0 0 var(--green_light) !important;
}
.v-sidebar-menu .vsm--link_open {
}
.v-sidebar-menu .vsm--link_mobile {}
.v-sidebar-menu .vsm--link_level-[n] {
}
.v-sidebar-menu .vsm--link_disabled {}
.v-sidebar-menu .vsm--title {}
.v-sidebar-menu .vsm--icon {
    color: var(--blue_light);
}
.v-sidebar-menu .vsm--link_level-1 .vsm--icon{
    background-color: white;
    height: 25px;
    width: 25px;
    padding: 4px;
}
.v-sidebar-menu .vsm--arrow {}
.v-sidebar-menu .vsm--arrow_open {}
.v-sidebar-menu .vsm--badge {}
.v-sidebar-menu .vsm--badge_default {}
.v-sidebar-menu .vsm--header {}
.v-sidebar-menu .vsm--dropdown {
    background-color: var(--blue_dark);
}
.v-sidebar-menu .vsm--mobile-bg {}
.v-sidebar-menu .vsm--toggle-btn {
    background-color: var(--blue_light);
}